.heart {
  width: 45px;
  height: 45px;
  fill: #f00;
}

.likes {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.body:hover {
  color: #f00;
}

.body:hover .heart {
  fill: #fff;
  transform: scale(1.3);
}

.likes span {
  display: inline-block;
  padding-top: 14px;
}