._container {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.end {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.more {
  background-color: brown;
  border-color: wheat;
  color: white;
  border-radius: 5px;
  width: 250px;
  padding: 10px 0px;
}